## 教學館 Report ｜以科ㄧ為例
任務：產生一份報告，分析五週間的用電狀況。
目標：(1)好讀 (2)容易理解 ,(3)資料正確且有意義, (4)可重複

### 進度
    1. 框架(Done)
    2. IPython notebook 實踐(Wrorking on)
    3. 變成書面報告及電子檔
    4. 變成網頁
    
### 報告時間週期
    - def Weeks: from Monday to Sunday.
    - one period = 5 weeks
    - Starts from week 0, ends at week 19. Four period.
        - P1: 2.12 - 3.11 (Holiday: 2.28, 3.1)
        - P2: 3.12 - 4.15 (Holiday: 4.4, 4.5, 4.8 兒童節、校慶補假)
        - P3: 4.16 - 5.20 (No Holiday)
        - P4: 5.21 - 6.24 (Holiday: 6.7 端午節)

### 呈現資訊
    1. #ok [文字] 基本：館舍資訊、期間、資料描述（幾小時一筆、迴路等）  
    2. [數字] [這一期] 電費是多少？跟上一期比較又是多少？
    3. [欄位] 最高用電的天、時間
    4. [圖表] 每週七天平均用電曲線 （比較差異）
    5. [圖表] 24小時用電 - 從六點開始 - 五週平均線
    6. [數字] 假日平日用電比 (%)
    7. [表格] 每週用電比例 
    8. [圖表] （跟其他館舍的比較）
    9. [文字] 節電建議
    10. ...

### 放入資訊
    - 位置：館舍 Dic 去找
    - 期間：一個list，六個數字
    - 電費：一個float
---

In [61]:
# 呼叫 libary 
import pandas as pd
%matplotlib inline
%pylab inline

Populating the interactive namespace from numpy and matplotlib

/Users/ah-bau/anaconda/lib/python3.5/site-packages/IPython/core/magics/pylab.py:161: UserWarning: pylab import has clobbered these variables: ['rate', 'place']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

## 預設資料

In [62]:
### Input data ###
Path = "../01data/106B_P1_P4/+teach_p1.csv"
Place = "SB1"
Period = 1 
Rate = 2.45
### Input data ###

## 抓資料

In [63]:
df = pd.read_csv(Path)
# print(df.Building.unique())
df = df[df.Building == Place] #選定地方
df.Date.unique() #確認日期

array(['2018-02-12', '2018-02-13', '2018-02-14', '2018-02-15',
       '2018-02-16', '2018-02-17', '2018-02-18', '2018-02-19',
       '2018-02-20', '2018-02-21', '2018-02-22', '2018-02-23',
       '2018-02-24', '2018-02-25', '2018-02-26', '2018-02-27',
       '2018-02-28', '2018-03-01', '2018-03-02', '2018-03-03',
       '2018-03-04', '2018-03-05', '2018-03-06', '2018-03-07',
       '2018-03-08', '2018-03-09', '2018-03-10', '2018-03-11'],
      dtype=object)

## 函數們

In [64]:
# cost_rate：一度電大概多少錢
def generate_cost_columns(df, Rate):
    df['Cost'] = df.Usage * Rate
    print('Column "Cost" had been generated!')
    return df

In [66]:
df = generate_cost_columns(df,Rate)

Column "Cost" had been generated!

In [69]:
df.groupby('Weekday').sum()

         Unnamed: 0    Usage  Week        Cost
Weekday
1            605904  4942.50   816  12109.1250
2            608208  4659.26   816  11415.1870
3            610512  4412.57   816  10810.7965
4            612816  5121.24   816  12547.0380
5            615120  4576.89   816  11213.3805
6            617424  3423.98   816   8388.7510
7            619728  3388.80   816   8302.5600

In [82]:
def reveal_cost(df):
    total = round(df.Cost.sum())
    by_day = round(df.groupby('Weekday').sum().Cost)
    print("Total cost: {}".format(total),'\n'
          "By day: {}".format(by_day))
#     return(total,by_day)
reveal_cost(df)

Total cost: 74787.0
By day: Weekday
1    12109.0
2    11415.0
3    10811.0
4    12547.0
5    11213.0
6     8389.0
7     8303.0
Name: Cost, dtype: float64

## 結果

## 書面報告